<div class="well">
  <div class="btn-group">
    <% for(var i=0; i<childStates.length; i++) {%>
    <label ui-sref="<%= childStates[i] %>" class="btn" ng-model="<%= itemName %>.radioModel" btn-radio="'<%= childStates[i] %>'" uncheckable><%= childStates[i] %></label><% } %>
  </div>

<h3>{{<%= itemName %>.message}}</h3>


<div ui-view></div>
</div>